
VITE_API_URL_GENERAL=http://localhost:9898
# Kunci Publik Pusher untuk koneksi real-time
VITE_PUSHER_KEY=
VITE_PUSHER_CLUSTER=
# ID Tim Superadmin (digunakan di frontend untuk logika UI)
VITE_SUPERADMIN_ID=

# # URL untuk iFrame (dipindahkan dari hardcode)
# VITE_DASHBOARD_URL="http://172.16.11.83:3002/public/dashboard/220788b0-454c-4b80-89f0-7d79a1ff0d9c"
# VITE_CHATBOT_URL="http://172.16.11.81/chatbot/XGZwvj3SpagIp9Nh"